{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block headscript %}
<style>
.font-myfont {
  font-family: "Monotype Corsiva", cursive, sans-serif;
  font-size: 70px;
  }
.con_img {
	width:100%; 
	height:50%;
	max-width:700px;
}
.con_descript_box{
	padding: 15px;
	max-width: 700px;	
	margin-left: auto;
	margin-right: auto;
	
}
</style>
{% endblock %}

{% block content %}
<br>
<br>
	<div class="w3-display-container w3-center">
		<img src="/static/images/home_con/home_top01.PNG" width="100%" height="350px">
		<div class="w3-display-middle w3-text-white" width="100%" height="280px">
			<div class="w3-content w3-panel w3-theme-l1" style="padding:20px 200px 30px 200px; max-width:100%; margin:auto;">
				<font class="font-myfont">My&nbspTone</font><br>
				<font class="w3-text-white">For your colorful style</font><br><br>
				<a href="aiface"><button class="w3-display w3-button w3-round-large w3-blue-grey w3- w3-hover-white"> AI 퍼스널 컬러 분석하기 </button></a>
			</div>
		</div>
	</div>

<!-- 메인 하단 콘텐츠 영역 -->
<div class="w3-center">
	<br>
	
	<div class="w3-center w3-content">
		<img class="con_img" src="/static/images/home_con/home_img1_2.PNG">
	</div>
	
	<div class="w3-content w3-panel w3-theme-l4" width="100%"> 
		<div class="con_descript_box">
			<p><b class="w3-theme-l1">'타고난 개인의 신체 컬러'</b>를 의미합니다.</p>
			<p>주로 피부 톤, 머리카락, 눈동자 컬러에 의해 결정됩니다. 최근에는 의미가 확장되어 고유의 신체 컬러 뿐 아니라, <b class="w3-theme-l1">개인을 돋보이게 하는 컬러</b>까지 포함해 퍼스널 컬러의 범주로 보기도 합니다.</p>	
		</div>
	</div>
	<br>
	<br>
	<div class="w3-center w3-content">
		<img class="con_img" src="/static/images/home_con/home_img2_2.PNG">
	</div>
	<div class="w3-content w3-panel w3-theme-l4" width="100%"> 
		<div class="con_descript_box">
			<p>모든 컬러는 긍정적인 느낌과 부정적인 느낌을 동시에 지닙니다.</p>
			<p>예를 들어 흰색은 깨끗함, 청순함, 창백함, 병약함을 동시에 느낄 수 있습니다. <b class="w3-theme-l1">퍼스널 컬러를 적절히 매치하면 긍정적인 느낌이 부각</b>되는 반면, <b class="w3-theme-l1">반대의 경우 역효과</b>가 일어나게 됩니다. 때문에 퍼스널 컬러를 잘 알고 적절히 활용하는 것이 중요합니다.</p>
		</div>
	</div>
	<br>
	<br>
	<div class="w3-center w3-content">
		<img class="con_img" src="/static/images/home_con/home_img3_2.PNG">
	</div>
	<div class="w3-content w3-panel w3-theme-l4" width="100%"> 
		<div class="con_descript_box">
			<p>개개인의 퍼스널 컬러는 매우 다양하지만, 크게 나누자면 ‘웜톤/쿨톤’과 ‘사계절 컬러’로 분류할 수 있습니다.</p>
			<p>일반적으로 이 둘을 합쳐 <b class="w3-theme-l1">봄 웜톤 / 여름 쿨톤 / 가을 웜톤 / 겨울 쿨톤</b>으로 사용하는 경우가 많습니다.</p>
		</div>
	</div>
	<br>
	<div class="w3-center">
		<a href="aiface"><button class="w3-button w3-round-large w3-red w3-hover-blue-grey">My 퍼스널 컬러 알아 보기</button></a>
	</div>
	<br>
	<br>
</div>
{% endblock %}